/*
Color Palette

carbon-black: #171717
black-forest: #003307
lime: #00ff22
dark-teal: #003333
cyan: #00ffff
dark-coffee: #331a00
vivid-tangerine: #ff8000
rich-mahogany: #330010
hot-fuchsia: #ff0050
antique-white: #ffeedd
*/

body {
    background-color: #ffeedd;
    color: #003333;
}

#nav-logo {
    height: 40px;
}

a {
    color: #00ffff;
}

a:hover {
    color: #ff8000;
}

.navbar {
    width: 100%;
    background-color: #003333;
}

.navbar li {
    margin: 5px;
    display: inline-block;
    font-family: monospace;
    font-size: 25px;
    color: #00ffff;
}