/*
Color Palette

carbon-black: #171717
black-forest: #003307
lime: #00ff22
dark-teal: #003333
cyan: #00ffff
dark-coffee: #331a00
vivid-tangerine: #ff8000
rich-mahogany: #330010
hot-fuchsia: #ff0050
antique-white: #ffeedd
*/

* {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: monospace;
    color: #00050A;
}

/* body {
    background-color: #003333;
    color: #00ffff;
} */

.mesh-gradient {
    width: 100%;
    height: 100vh;
    background:
    radial-gradient(ellipse 30% 150% at 0% 10%, #FCAB10 0%, transparent 50%),
    radial-gradient(ellipse 30% 150% at 0% 10%, #FF007B 0%, transparent 75%),
    radial-gradient(ellipse 60% 70% at 5% 90%, #FCAB10 0%, transparent 50%),
    radial-gradient(ellipse 60% 70% at 5% 90%, #FF007B 0%, transparent 75%);
    /* radial-gradient(ellipse 50% 50% at 50% 80%, #FCAB10 0%, transparent 30%),
    radial-gradient(ellipse 50% 50% at 50% 80%, #FF007B 0%, transparent 50%); */
    background-color: #ffffff;
}

.blob {
    width: 50%;
    height: 50vh;
    left: -50%;
    background-color: #00050A;
    border-radius: 58% 42% 40% 60% / 50% 60% 40% 50%;
}

/* body {
    background: radial-gradient(#17EBD5, #00050A);
    background-size: 200vw 100vw; */
    /* animation: moveGradient 5s ease infinite; */
/* } */

/* @keyframes moveGradient {
    0% {background: linear-gradient(#fffbf5, #025f54); background-size: 800% 800%;}
    50% {background: linear-gradient(#025f54, #fffbf5); background-size: 800% 800%;}
    100% {background: linear-gradient(#fffbf5, #025f54); background-size: 800% 800%;}
} */

#nav-logo {
    height: 40px;
}

a {
    color: #00050A;
}

a:hover {
    color: #17EBD5;
    background-color: #00050A;
    border-radius: 58% 42% 40% 60% / 50% 60% 40% 50%;
}

.navbar {
    width: 100%;
}

.navbar li {
    margin: 5px;
    display: inline-block;
    font-family: monospace;
    font-size: 25px;
}

.footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 8px;
    z-index: 1000;
}

.marquee {
    height: 50px;
    width: 100%;

    overflow: hidden;
    position: absolute;
}

.marquee div {
    height: 100%;
    width: 200%;

    overflow: hidden;
    position: absolute;

    animation: marquee 40s linear infinite;
}

.marquee span {
    float: left;
    width: 25%;

    color: #00050A;
    font-family: monospace;
    font-size: clamp(10px, 3vw, 40px);
}

@keyframes marquee {
    0% {left: -100%;}
    100% {left: 0%;}
}