/*
Color Palette

black: #2e2e2e
white: #f7efe2
dark green: #3C896D
light green: #4FB286
orange: #DD6E42
*/

body {
    background-color: #2e2e2e;
    color: #f7efe2;
}

#nav-logo {
    height: 100px;
}

a {
    color: #f7efe2;
}

a:hover {
    color: #DD6E42;
}

.navbar li {
    margin: 5px;
    display: inline-block;
    color: #f7efe2;
}