/*
Color Palette

carbon-black: #171717
black-forest: #003307
lime: #00ff22
dark-teal: #003333
cyan: #00ffff
dark-coffee: #331a00
vivid-tangerine: #ff8000
rich-mahogany: #330010
hot-fuchsia: #ff0050
antique-white: #ffeedd
*/

* {
    font-family: monospace;
}

body {
    background-color: #003333;
    color: #00ffff;
}

#nav-logo {
    height: 40px;
}

a {
    color: #00ffff;
}

a:hover {
    color: #ff8000;
}

.navbar {
    width: 100%;
}

.navbar li {
    margin: 5px;
    display: inline-block;
    font-family: monospace;
    font-size: 25px;
}

.footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 8px;
    z-index: 1000;
}

.page h3 {
    margin-top: 25px;
    margin-left: 25px;
}